body, head {
    margin: 0;
    padding: 0;
}
#content{
    color:#5FC5FA;
    display: grid;
    grid-template-columns: repeat(100,1vw);
    grid-template-rows: repeat(100,1vh);
}
h1 {
    font-family:Baskerville;
    text-align: center;
}
header{
    background-color: #4046A1;
    grid-column: 1/ span 100;
    grid-row: 1/span 18;
}
#home {
    margin-top: 5vh;
    margin-left: 3vw;
    font-size: 48px; 
    float: left;
}
#account{
    margin: 1vh 1vw 0vh 0vw;
    font-size: 36px;
    float:right; 
}
#reverse{
    grid-column: 85/ span 5;
    grid-row: 8/ span 10;
    font-size: 48px;
    margin-right: 1vw;
}
input{
    width:65vw;
}
form{
    grid-column: 20/ span 50;
    grid-row: 5/ span 10;
}
#locationA{
    margin-bottom: 12px;;
}
figure{
    background-image: url(/Images/Interactive.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position:fixed;
    grid-column: 1/span 100;
    grid-row: 19/ span 81;
}
#interactive{
    width: auto;
    height: 55vh;
}
nav {
    display:none;
}
footer{
    display:none;
}