body,
head {
  margin: 0;
  padding: 0;
}

#content {
  color: #5fc5fa;
  display: grid;
  grid-template-columns: repeat(100, 1vw);
  grid-template-rows: repeat(100, 1vh);
  background-color: black;
}

h1 {
  font-family: Baskerville;
  text-align: center;
}

header {
  background-color: #4046a1;
  grid-column: 1 / span 100;
  grid-row: 1 / span 18;
}

input {
  width: 65vw;
}

form {
  grid-column: 20 / span 50;
  grid-row: 5 / span 10;
}

#locationA {
  margin-bottom: 12px;
}

#home {
  margin-top: 5vh;
  margin-left: 3vw;
  font-size: 48px;
  float: left;
}

#account {
  margin: 1vh 1vw 0vh 0vw;
  font-size: 36px;
  float: right;
  color: #5fc5fa;
  background-color: #4046a1;
  border: none;
}

/*---------------------------------------------
    CSS for the Account Page Modal
---------------------------------------------*/
.modal-dialog {
  width: 250px !important;
  height: 300px;
  float: right;
}

.modal-content {
  height: 150%;
}

#reverse {
  grid-column: 85 / span 5;
  grid-row: 8 / span 10;
  font-size: 48px;
  margin-right: 1vw;
}

input {
  width: 65vw;
}

form {
  margin: 0;
  padding: 0;
  grid-column: 20 / span 50;
  grid-row: 5 / span 10;
}

#map {
  /* background-image: url(../Images/Interactive.jpg);
    background-repeat: no-repeat;
    background-size: contain; */
  /* background-position:fixed; */
  grid-column: 1 / span 100;
  grid-row: 19 / span 81;
}

#sw5 {
  grid-column: 19 / span 5;
  grid-row: 72 / span 5;
  font-size: 24px;
}

#se12 {
  grid-column: 72 / span 5;
  grid-row: 58 / span 5;
  font-size: 24px;
}

#se14 {
  grid-column: 90 / span 5;
  grid-row: 75 / span 5;
  font-size: 24px;
}

#map img {
  height: 82vh;
  width: 100vw;
}

#nav {
  display: none;
}

#footer {
  display: none;
}

#htmlForSW5 {
  display: none;
  margin-left: -88px;
  margin-top: 20px;
  position: absolute;
  font-size: 16pt;
  width: 100vw;
  height: 26vh;
  background-color: #4046a1;
  text-align: center;
}

#htmlForSE12 {
  display: none;
  margin-left: -348px;
  margin-top: 126px;
  position: absolute;
  font-size: 16pt;
  width: 100vw;
  height: 29vh;
  background-color: #4046a1;
  text-align: center;
}

#htmlForSE14 {
  display: none;
  position: absolute;
  margin-left: -437px;
  margin-top: -55px;
  font-size: 16pt;
  width: 100vw;
  height: 29vh;
  background-color: #4046a1;
  text-align: center;

}
