body,
head {
  margin: 0;
  padding: 0;
}

#content {
  color: #5fc5fa;
  display: grid;
  grid-template-columns: repeat(100, 1vw);
  grid-template-rows: repeat(100, 1vh);
  background-color: black;
}

/* ========================
        Header Styling
===========================*/
h1 {
  font-family: Baskerville;
  text-align: center;
}

header {
  background-color: #4046a1;
  grid-column: 1 / span 100;
  grid-row: 1 / span 18;
}

input {
  width: 61vw;
}

form {
  grid-column: 20 / span 50;
  grid-row: 5 / span 10;
}

#locationA {
  margin-bottom: 12px;
}

#home {
  margin-top: 5vh;
  margin-left: 3vw;
  font-size: 48px;
  float: left;
}

/* ====================
    Icons in Header 
=======================*/
#account {
  margin: 1vh 1vw 0vh 0vw;
  font-size: 36px;
  float: right;
  color: #5fc5fa;
  background-color: #4046a1;
  border: none;
}

#reverse {
  grid-column: 81 / span 5;
  grid-row: 8 / span 10;
  font-size: 40px;
  margin-right: 1vw;
}

form {
  margin: 0;
  padding: 0;
  grid-column: 20 / span 50;
  grid-row: 5 / span 10;
}

#map {
  grid-column: 1 / span 100;
  grid-row: 19 / span 81;
}

/* --------------------------------------
    CSS for the Account Page Modal
----------------------------------------- */
.modal-dialog {
  width: 250px !important;
  height: 300px;
  float: right;
}

.modal-content {
  height: 150%;
}

.modal-body {
  color: #5FC5FA;
  line-height: 6vh;
}

/* ===============================================
    Styling for place markers: sw5, se12, se14 
==================================================*/
#sw5 {
  grid-column: 19 / span 5;
  grid-row: 72 / span 5;
  font-size: 24px;
  text-shadow: 3px 2px #4046a1;
}

#se12 {
  grid-column: 72 / span 5;
  grid-row: 58 / span 5;
  font-size: 24px;
  text-shadow: 3px 2px #4046a1;
}

#se14 {
  grid-column: 90 / span 5;
  grid-row: 75 / span 5;
  font-size: 24px;
  text-shadow: 3px 2px #4046a1;
}

#map img {
  height: 82vh;
  width: 100vw;
}

#nav {
  display: none;
}

#footer {
  display: none;
}

/* ================================================
    Styling for the pop-up location information
=================================================== */
/* sw5 infomation page */
#htmlForSW5 {
  display: none;
  position: absolute;
  margin-left: -18vw;
  margin-top: -5vh;
  padding: 1vh 1vw 1vw 1vh;
  font-size: 14pt;
  width: 100vw;
  height: 30vh;
  background-color: #4046a1;
  color: #5FC5FA;
}

#htmlForSW5 th {
  padding-left: 4vw;
  text-align: left;
  font-size: 6vw;
  border-bottom: 1px white dotted;
}

#htmlForSW5 td {
  text-align: left;
  padding-right: 5px;
  border-bottom: 1px white dotted;
}

/* se12 information page */
#htmlForSE12 {
  display: none;
  position: absolute;
  margin-left: -71vw;
  margin-top: 9vh;
  padding: 1vh 1vw 1vw 1vh;
  font-size: 14pt;
  width: 100vw;
  height: 30vh;
  background-color: #4046a1;
  color: #5FC5FA;
}

#htmlForSE12 th {
  padding-left: 4vw;
  text-align: left;
  font-size: 6vw;
  border-bottom: 1px white dotted;
}

#htmlForSE12 td {
  text-align: left;
  padding-right: 5px;
  border-bottom: 1px white dotted;
}

/* se14 information page */
#htmlForSE14 {
  display: none;
  position: absolute;
  margin-left: -89vw;
  margin-top: -8vh;
  padding: 1vh 1vw 1vw 1vh;
  font-size: 14pt;
  width: 100vw;
  height: 30vh;
  background-color: #4046a1;
  color: #5FC5FA;
}

#htmlForSE14 th {
  padding-left: 4vw;
  text-align: left;
  font-size: 6vw;
  border-bottom: 1px white dotted;
}

#htmlForSE14 td {
  text-align: left;
  padding-right: 5px;
  border-bottom: 1px white dotted;
}