body, head {
    margin: 0;
    padding: 0;
}
#content{
    background-color: #4046A1;
    color:#5FC5FA;
    display: grid;
    grid-template-columns: repeat(100,1vw);
    grid-template-rows: repeat(100,1vh);
}
header{
    grid-column: 1/ span 100;
    grid-row: 1/span 10;
}
#home {
    margin-top: 2vh;
    margin-left: 3vw;
    font-size: 40px; 
    float: left;
}
#account{
    font-size: 36px;
    float:right;
    color:#5FC5FA;
    background-color: #4046A1;
    border: none;
}
#pathName{
    margin-top: 2vh;
    font-size: 15pt;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}
/*---------------------------------------------
    CSS for the Account Page Modal
---------------------------------------------*/
.modal-dialog {
    width: 250px !important;
    height: 300px;
    float: right;
    
}
.modal-content {
    height: 150%;
    
}
figure {
    grid-column: 1/span 100;
    grid-row: 10/ span 85;
}
figure img {
    border: none;
    width: 100vw;
    height: 80vh;
}
#sw5se12{
}
#sw5se14{
}
#se12se14{
}
.paths{
    display:none;
}
footer {
    grid-column: 1/span 100;
    grid-row:70/ span 10;
    text-align: center;
}
#info {
    margin-top: 1vh;
    font-size: 36px;
    
}
