body, head {
    margin: 0;
    padding: 0;
}
#content{
    color:#5FC5FA;
    display: grid;
    grid-template-columns: repeat(100,1vw);
    grid-template-rows: repeat(100,1vh);
}
h1 {
    font-family:Baskerville;
    text-align: center;
}
header{
    background-color: #4046A1;
    grid-column: 1/ span 100;
    grid-row: 1/span 18;
}
form{
    grid-column: 20/ span 50;
    grid-row: 5/ span 10;
}
input{
    width: 65vw;
}
#locationA{
    margin-bottom: 12px;
}
#home {
    margin-top: 5vh;
    margin-left: 3vw;
    font-size: 48px; 
    float: left;
}
#account{
    margin: 1vh 1vw 0vh 0vw;
    font-size: 36px;
    float:right;
    color:#5FC5FA;
    background-color: #4046A1;
    border: none;
}
#reverse{
    grid-column: 85/ span 5;
    grid-row: 7/ span 10;
    font-size: 48px;
    margin-right: 1vw;
}
#locationA{
    margin-bottom: 12px;
}
#nav {
    display:none;
}
/* --------------------------------
    Section for Recent and Favorites
--------------------------------------*/
#recentSection {
    border-top: solid 1px black;
    grid-column: 1/ span 100;
    grid-row: 19/ span 22;
    background-color: #4046A1;
}
#favoriteSection {
    grid-column: 1/ span 100;
    grid-row: 40/ span 22;
    background-color: #4046A1;
}
/* --------------------------------
    Recent Locations
--------------------------------------*/
#recent {
    margin-top: 2%;
    display: block;
    border-bottom: solid #5fc5fa;
    margin-left: 5%;
    margin-right: 5%;
}
#clock {
    float: left;
}
#recentTitle {
    font-family: Baskerville;
    font-size: 20px;
    padding-left: 10%;
    margin-bottom: 0%;
    text-align: left;
    
}
/* --------------------------------
    Favorite Locations
--------------------------------------*/
#favorite {
    margin-top: 2%;
    display: block;
    border-bottom: solid #5fc5fa;
    margin-left: 5%;
    margin-right: 5%;
    
}
#star {
    float: left;
}
#favoriteTitle {
    font-family: Baskerville;
    font-size: 20px;
    padding-left: 10%;
    margin-bottom: 0%;
    text-align: left;
}
/*-----------------------------------
    Containers for the recent and favorite locations
--------------------------------------*/
*.innerLocations { 
    width: 80vw;
    margin-left: 10%;
    height: 30px;
    text-align: center;
    border-bottom: solid 1px black; 
}

/*---------------------------------------------
    CSS for the Account Page Modal
---------------------------------------------*/
.modal-dialog {
    width: 250px !important;
    height: 300px;
    float: right;
    
}
.modal-content {
    height: 150%;
    
}
