body, head {
    margin: 0;
    padding: 0;
}
#content{
    color:#5FC5FA;
    display: grid;
    grid-template-columns: repeat(100,1vw);
    grid-template-rows: repeat(100,1vh);
}
header{
    background-color: #4046A1;
    grid-column: 1/ span 100;
    grid-row: 1/span 18;
}
input{
    width: 65vw;
}
form{
    grid-column: 20/ span 50;
    grid-row: 5/ span 10;
}
#locationA {
    margin-bottom: 12px;
}
/* --------------------------------
    Section for Recent and Favorites
--------------------------------------*/
section {
    grid-column: 1/ span 100;
    grid-row: 19/ span 50;
    background-color: blueviolet;
}
/* --------------------------------
    Recent Locations
--------------------------------------*/
#recent {
    margin-top: 2%;
    display: block;
    border-bottom: solid #5fc5fa;
    margin-left: 5%;
    margin-right: 5%;
}
#clock {
    float: left;
}
#recentTitle {
    font-family: Baskerville;
    font-size: 20px;
    padding-left: 10%;
    margin-bottom: 0%;
}
/* --------------------------------
    Favorite Locations
--------------------------------------*/
#favorite {
    margin-top: 2%;
    display: block;
    border-bottom: solid #5fc5fa;
    margin-left: 5%;
    margin-right: 5%;
    
}
#star {
    float: left;
}
#favoriteTitle {
    font-family: Baskerville;
    font-size: 20px;
    padding-left: 10%;
    margin-bottom: 0%;
}

#nav {
    grid-row: 70/ span 20;
}
#home {
    margin-top: 5vh;
    margin-left: 3vw;
    font-size: 48px; 
    float: left;
}
#account{
    margin: 1vh 1vw 0vh 0vw;
    font-size: 36px;
    float:right;
}
#reverse{
    font-size: 48px;
    margin-right:-7vw;
    margin-top: 6vh;
    float: right;
}